Cyrus/._AppDelegate.swift
._*.swift
Cyrus.xcodeproj/._project.xcworkspace
Cyrus.xcodeproj/project.xcworkspace/xcuserdata/btunni.xcuserdatad/UserInterfaceState.xcuserstate
Cyrus.xcodeproj/xcuserdata/btunni.xcuserdatad/xcschemes/xcschememanagement.plist
Cyrus.xcodeproj/xcuserdata/btunni.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
._.DS_Store
.DS_Store
._Cyrus.xcodeproj
